.quienes-somos {
background-color: #8f8b84; 
padding: 80px 20px;
color: #ffffff;
font-family:'Trebuchet MS';
}

.qs-container {
max-width: 1100px;
margin: auto;
text-align: center;
}

.quienes-somos h2 {
font-size: 42px;
margin-bottom: 20px;
color: black;
}

.qs-descripcion {
font-size: 18px;
max-width: 800px;
margin: 0 auto 50px;
line-height: 1.6;
}

.qs-cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 25px;
}

.qs-card {
background-color: #000000;
padding: 30px 20px;
border-radius: 12px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.qs-card h3 {
font-size: 22px;
margin-bottom: 15px;
color: slateblue; 
}

.qs-card p {
font-size: 16px;
line-height: 1.5;
}

.qs-card:hover {
transform: translateY(-10px);
box-shadow: 0 10px 25px slateblue;
}
